.table-wrapper {
	width: 60%;
	padding: 0 50px;
}

.delete {
	/* background: url('../img/preloader/preloader.gif') no-repeat center; */
	background: url(../img/delete.jpg) no-repeat center;
	cursor: pointer;
}